In [ ]:
import numpy as np  
import pandas as pd
import math

In [ ]:
#from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#All_data = pd.read_csv("/content/drive/MyDrive/test pfe/All_data.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
display(All_data)

,Unnamed: 0,company,price_in_cents,transport_type,has_bicycle,has_adjustable_seats,has_plug,has_wifi,distance,duration,o_city,d_city
0,0,8385,4550,carpooling,False,False,False,False,503.136831,6.166667,611,542
1,5,8385,1800,carpooling,False,False,False,False,205.933671,3.000000,628,453
2,6,8385,2150,carpooling,False,False,False,False,205.933671,2.500000,628,453
3,7,8385,1700,carpooling,False,False,False,False,205.933671,2.500000,628,453
4,8,8385,1700,carpooling,False,False,False,False,205.933671,2.833333,628,453
...,...,...,...,...,...,...,...,...,...,...,...,...
67440,74163,13,2590,bus,False,False,False,True,339.046766,13.500000,628,562
67441,74164,9,2700,bus,False,True,True,True,339.046766,6.500000,628,562
67442,74165,8371,3000,bus,False,True,True,True,339.046766,6.750000,628,562
67443,74166,13,2880,bus,False,False,False,True,339.046766,7.750000,628,562
67444,74167,8371,2000,bus,False,True,True,True,339.046766,6.916667,628,562

In [ ]:
All_data.describe()

,Unnamed: 0,company,price_in_cents,distance,duration,o_city,d_city
count,67445.000000,67445.000000,67445.000000,67445.000000,67445.000000,67445.000000,67445.000000
mean,36491.176618,7454.279665,4252.750626,342.997128,5.256536,853.072207,880.421336
std,21320.336812,2628.338640,3712.547330,171.490134,3.176577,1500.452318,1648.068757
min,0.000000,9.000000,300.000000,18.962318,0.333333,5.000000,1.000000
25%,18122.000000,8377.000000,1800.000000,205.933671,2.833333,485.000000,453.000000
50%,35549.000000,8385.000000,3250.000000,339.046766,4.566667,628.000000,562.000000
75%,55047.000000,8385.000000,5000.000000,434.504803,6.616667,628.000000,628.000000
max,74167.000000,8387.000000,38550.000000,1122.232294,15.500000,12190.000000,12190.000000

### Encoding categorical text features

In [ ]:
All_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67445 entries, 0 to 67444
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            67445 non-null  int64
 1   company               67445 non-null  int64
 2   price_in_cents        67445 non-null  int64
 3   transport_type        67445 non-null  object
 4   has_bicycle           67434 non-null  object
 5   has_adjustable_seats  67434 non-null  object
 6   has_plug              67434 non-null  object
 7   has_wifi              67434 non-null  object
 8   distance              67445 non-null  float64
 9   duration              67445 non-null  float64
 10  o_city                67445 non-null  int64
 11  d_city                67445 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 6.2+ MB

In [ ]:
All_data.transport_type.unique()

array(['carpooling', 'bus', 'train'], dtype=object)

In [ ]:
All_data.has_bicycle.unique()

array([False, True, nan], dtype=object)

In [ ]:
All_data['transport_type'] = All_data['transport_type'].apply(
    lambda x: 1 if x == 'carpooling' else ( 2 if x == 'bus' else 3))

Encoding transport_type,	has_bicycle,	has_adjustable_seats,	has_plug,	has_wifi

In [ ]:
All_data['has_bicycle'] = All_data['has_bicycle'].apply(
    lambda x: 1 if x == True else 0)

In [ ]:
All_data['has_adjustable_seats'] = All_data['has_adjustable_seats'].apply(
       lambda x: 1 if x == True else 0)

In [ ]:
All_data['has_plug'] = All_data['has_plug'].apply(
    lambda x: 1 if x == True else 0)

In [ ]:
All_data['has_wifi'] = All_data['has_wifi'].apply(
        lambda x: 1 if x == True else 0)

In [ ]:
All_data=All_data.drop(["Unnamed: 0"],axis=1)

In [ ]:

All_data=All_data.drop(["d_city"],axis=1)
All_data=All_data.drop(["o_city"],axis=1)

In [ ]:
All_data.isna().sum()

company                 0
price_in_cents          0
transport_type          0
has_bicycle             0
has_adjustable_seats    0
has_plug                0
has_wifi                0
distance                0
duration                0
o_city                  0
d_city                  0
dtype: int64

### import

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor

### Importing the DF and test-train split

In [ ]:
data = All_data.loc[:, All_data.columns != 'price_in_cents']
price = All_data.loc[:, All_data.columns == 'price_in_cents']

In [ ]:
data

,company,transport_type,has_bicycle,has_adjustable_seats,has_plug,has_wifi,distance,duration
0,8385,1,0,0,0,0,503.136831,6.166667
1,8385,1,0,0,0,0,205.933671,3.000000
2,8385,1,0,0,0,0,205.933671,2.500000
3,8385,1,0,0,0,0,205.933671,2.500000
4,8385,1,0,0,0,0,205.933671,2.833333
...,...,...,...,...,...,...,...,...
67440,13,2,0,0,0,1,339.046766,13.500000
67441,9,2,0,1,1,1,339.046766,6.500000
67442,8371,2,0,1,1,1,339.046766,6.750000
67443,13,2,0,0,0,1,339.046766,7.750000
67444,8371,2,0,1,1,1,339.046766,6.916667

In [ ]:
X_train, X_test, price_train, price_test = train_test_split(data, price, test_size = 0.25, random_state = 42)

### Random Forest Regressor Model and parameters

params_to_use= {
  n_estimators= 700;
  criterion= "absolute_error"
  max_features=“sqrt”
  bootstrap=True
  max_samples = 800
    
}

In [ ]:
model = RandomForestRegressor( n_estimators= 1000,
  criterion= "squared_error",
  max_features= "sqrt",
  bootstrap=True, 
  min_samples_split= 20,
  min_samples_leaf = 10,
  max_samples = 7000, random_state = 30)

In [ ]:
model.fit(X_train, price_train)

NameError: ignored

In [ ]:
model = RandomForestRegressor( n_estimators= 2000,
  criterion= "squared_error",
  max_features= "auto",
  bootstrap=True,
   max_samples = 20000, 

  random_state = 42)

In [ ]:
model.fit(X_train, price_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(max_samples=20000, n_estimators=2000, random_state=42)

###Prediction and Results

In [ ]:
price_prediction = model.predict(X_test)

In [ ]:
MSE = mean_squared_error(price_prediction,price_test)
RMSE = math.sqrt(MSE)
print("Root Mean Squared Error: ",RMSE)

Root Mean Squared Error:  957.0811541825337

1 Euro